nav a {
    position: relative;
    padding-bottom: 5px;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: #ffcc00;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

nav a:hover::after {
    width: 100%;
}

/* MOBILE MENU BUTTON */
.menu-btn {
    display: none;
    font-size: 26px;
    cursor: pointer;
}


header {
    background: rgba(0, 51, 102, 0.35);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
